$primary-color: #E8BD66;

%hover-effect {
  background-color: orange;
  color: khaki;
}


h1 {
  font-family: 'Questrial', sans-serif;
  text-align: center;
  color: $primary-color;
  &::selection {
    @extend %hover-effect;
  }
}
h4, p {
  text-align: center;
  &::selection {
    @extend %hover-effect;
  }
}
