$primary-color: maroon;

%hover-effect {
  background-color: plum;
  color: linen;
}


h1 {
  font-family: 'Questrial', sans-serif;
  text-align: center;
  color: $primary-color;
  &::selection {
    @extend %hover-effect;
  }
}
h4, p, i {
  text-align: center;
  &::selection {
    @extend %hover-effect;
  }
}

#header {
  background-color: lavenderblush;
  padding: 2em 0em;
}

#footer {
  background-color: lightcoral;
  padding: 2em 0em;
}
